[submodule "themes/academic-workshop"]
	path = themes/academic-workshop
	url = https://github.com/aterenin/academic-workshop.git

[submodule "collaborative-intelligence-workshop.github.io"]
    path = collaborative-intelligence-workshop.github.io
    url = https://github.com/raayandhar/collaborative-intelligence-workshop.github.io.git
